---
type Fish = {
  name: string;
  size: string;
};

import "../styles/main.css";

import _data from "../data/cantabrico_noroeste_cadiz.json";
const fishes: Fish[] = _data;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Fishing</title>
  </head>
  <body>
    <header class="header">
      <div class="header--container">
        <h1 class="header--title">Fishing</h1>
      </div>
    </header>
    <nav class="tabs">
      <ul class="tabs--container">
        <li class="tab active">Cantábrico y Cádiz</li>
        <li class="tab">Mediterráneo</li>
        <li class="tab">Canarias</li>
      </ul>
    </nav>
    <div class="search">
      <div class="search--container">
        <input
          class="search--input"
          type="search"
          name="search"
          id="search"
          placeholder="Buscar"
        />
      </div>
    </div>
    <main class="main container">
      <h2 class="header--subtitle">
        Tallas mínimas autorizadas para los caladeros del Cantábrico y noroeste
        y del golfo de Cádiz
      </h2>
      {
        fishes.map((fish) => {
          return (
            <div class="fish">
              <h2 class="fish--name">{fish.name}</h2>
              <p class="fish--size">{fish.size}</p>
            </div>
          );
        })
      }
    </main>
    <footer class="footer">
      <div class="container">
        <p>(*) Talla por determinar.</p>
        <p>
          (**) Excepto en la división IX, a), en la que la talla mínima es de 10
          centímetros.
        </p>
        <p>
          (***) Excepto en las divisiones 8a y 8b del Consejo Internacional para
          la Exploración del Mar, tanto para la pesca profesional como para la
          pesca recreativa, en las que la talla mínima es de 44 centímetros.
        </p>
      </div>
    </footer>
  </body>
</html>
<script>
  const search = document.getElementById("search") as HTMLInputElement;
  const fishes = document.querySelectorAll(".fish");

  search!.addEventListener("input", () => {
    searchFish(search.value);
  });

  function searchFish(text: string) {
    fishes.forEach((fish) => {
      fish.classList.remove("hidden");
      if (
        !fish.children[0].innerHTML.toLowerCase().includes(text.toLowerCase())
      ) {
        fish.classList.add("hidden");
      }
    });
  }
</script>
